header {
    color: antiquewhite;
    text-align: center;
    font-size: xx-large;
    background-color: transparent;
}

h2 {
    font-size: larger;
}

nav {
    color: white;
    text-align: center;
    word-spacing: 3cm;
    font-size: xx-large;
    font-style: normal;
    line-height: 3;
}

h3 {
    font-size: xx-large;
}

h6 {
    font-size: xx-large;
}

h4 {
    font-size: xx-large;
}

h5 {
    font-size: xx-large;
}

h7 {
    font-size: xx-large;
}

h8 {
    font-size: xx-large;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.About {
    color: white;
}

.Hobbies {
    color: white;
}

.Spirit {
    color: white;
}

.Projects {
    color: white;
}

.Contact {
    color: white;
}

footer {
    color: white;
    text-align: center;
    font-size: xx-large;
}